<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>586295651642-7g8fbmgnh0fcn6eot6k1albefk9hect7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586295651642-7g8fbmgnh0fcn6eot6k1albefk9hect7</string>
	<key>API_KEY</key>
	<string>AIzaSyDM1Zej9Hz4aw62_snMrkgxQ6lRfMNdvG8</string>
	<key>GCM_SENDER_ID</key>
	<string>586295651642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.driveway.driveway</string>
	<key>PROJECT_ID</key>
	<string>driveway-e8075</string>
	<key>STORAGE_BUCKET</key>
	<string>driveway-e8075.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586295651642:ios:4188217a047a4e01</string>
	<key>DATABASE_URL</key>
	<string>https://driveway-e8075.firebaseio.com</string>
</dict>
</plist>